@use 'variables';
@use 'mixins';

body {
    margin: 0;
  }
  
  h1, h2 {
    //font-family: variables.$font-family-primary;
    text-align: center;
  }
  
  header, nav {
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$background-bg-color;
    padding: 20px;
    margin: 0;
    gap: 40px;
  
    li a {
      text-decoration: none;
      color: variables.$primary-bg-color;
      font-weight: bold;
    }
  }
  
  .search-bar {
    margin-left: auto;
  
    input {
      padding: 5px;
      border: 1px solid variables.$border-color;
      border-radius: 5px;
      font-size: variables.$font-size-small;
      color: #999;
    }
  }
  
  .img-principal img {
    max-width: 100%;
    height: auto;
  }
  
  .welcome-card {
    background-color: variables.$secondary-bg-color;
    padding: 20px;
    margin: 20px auto;
    border-radius: variables.$border-radius;
    box-shadow: variables.$card-shadow;
    max-width: 800px;
  
    h2 {
      font-size: variables.$font-size-heading;
      color: variables.$font-color;
      margin-bottom: 10px;
    }
  
    p {
      font-size: variables.$font-size-body;
      color: variables.$text-color;
      line-height: 1.6;
    }
  }
  
  .pulseras {
    color: variables.$color-pulseras;
  }
  footer {
    background-color: variables.$background-bg-color;
    padding: 20px 0;
    font-family: variables.$font-family-secondary;
    color: variables.$primary-bg-color;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .footer-section {
      width: 30%;
      padding: 10px;
  
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: variables.$font-weight-bold;
        color: variables.$primary-bg-color;
      }
  
      p {
        font-size: variables.$font-size-small;
        line-height: 1.6;
        color: #ddd;
      }
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .footer-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  
      p {
        font-size: variables.$font-size-small;
        line-height: 1.6;
        color: #ddd;
      }
    }
  }
  
  // SECCIÓN INSTAGRAM
  
  .instagram {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  
    .instagram-card {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 20px;
      text-align: center;
      border-radius: variables.$border-radius;
  
      h2 {
        margin: 0;
        font-size: variables.$font-size-heading;
      }
  
      p {
        margin: 10px 0;
        font-size: 18px;
      }
  
      button {
        @include mixins.boton-estilo(variables.$primary-bg-color, variables.$background-bg-color,variables.$hover-color, variables.$background-bg-color);
      }
    }
  }
  
  // MEDIA QUERIES
  
  @media (max-width: 768px) {
    footer {
      .footer-container {
        flex-direction: column;
        align-items: center;
      }
  
      .footer-section {
        width: 100%;
        margin-bottom: 20px;
      }
  
      .footer-list {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
    